/build/
/benchpress-build/
.DS_Store
gen_docs.disable
test.disable
regression/temp*.html
performance/temp*.html
.idea/workspace.xml
*~
*.swp
angular.js.tmproj
node_modules/
node_modules/*
bower_components/
app/node_modules/
app/bower_components/
www/node_modules/
www/bower_components/
npm-debug.log
/tmp/
/scripts/bower/bower-*
*.log
*.stackdump
uploads/
libs/
libs/*
